@CHARSET "ISO-8859-1";

a {
	color: yellow;
}
/*canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}*/
canvas {
	-moz-box-shadow: inset 0 0 2px #000000;
	-webkit-box-shadow: inset 0 0 2px #000000;
	box-shadow: inset 0 0 2px #000000;
	background-color: #fff;
	border: none;
	/*cursor: none;*/
	background-image: url('../sprites/sky3.png');
	background-repeat: no-repeat;
	background-size: 100% 115%;
	/*  background-position: all;
    background-attachment: initial;*/
}

img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin: 3px;
	border: 1px solid;
}

body {
	margin: 0px;
}

p {
	padding: 30px;
}

#StoneCrash {
	background-blend-mode: difference;
}

#headerContainer {
	width: 100%;
	height: 100px;
	background-color: #16258e;
	color: #000000;
}

#headerContainerEnlargement {
	width: 100%;
	height: 100px;
	background-color: #16258e;
	color: #000000;
	position: absolute;
	z-index: 1;
}

.headerContent {
	text-align: center;
	padding-top: 20px;
	color: #fff;
}

#gameName {
	font-size: xx-large;
	color: #fff;
}

#gameAreaContainer {
	width: 75%;
	height: 552px;
	float: left;
}

#gameArea {
	width: 100%;
	height: 80%;
}

#gameAreaHead {
	width: 99.9%;
	height: 19.7%;
	background-color: #fff;
	border: 1px solid;
}

#gameAreaHeadContainer {
	width: 100%;
	height: 100%;
	display: table;
	float: left;
}

#bodyContainer {
	width: 100%;
	height: 552px;
	float: left;
}

#scoreBoard {
	width: 100%;
	height: 474px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	background-color: #104e82;
	overflow: auto;
}

#scoreBoardData {
	text-align: center;
	color: #000000;
	border: 1px solid;
	-moz-box-shadow: 0 0 5px #000000;
	-webkit-box-shadow: 0 0 5px #000000;
	box-shadow: 0 0 5px #000000;
	color: #000000;
	background-color: #fff;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 3px;
	border: none;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	height: 36px;
	padding-top: 16px;
	text-shadow: #FE6 0 1px 0;
}

#difficultyDisplay {
	display: table;
	width: 100%;
	box-shadow: 1px 1px 10px #000;
	moz-box-shadow: 1px 1px 10px #000;
	-webkit-box-shadow: 1px 1px 10px #000;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px 5px 5px 5px;
}

.gameDetails {
	padding-left: 10px !important;
	padding-top: 10px !important;
	width: 25%;
	font-family: sans-serif;
	font-weight: 100;
	padding: 5px;
	color: blue;
	float: left;
}

.gameDetails1 {
	width: 10%;
	float: left;
	padding-top: 10px !important;
}

.life {
	font-family: sans-serif;
	font-weight: 700;
	font-size: xx-large;
	padding: 10px;
	float: right;
}

.balloonSprites {
	display: none;
}

#displayScore {
	width: 50%;
	padding: 15px;
	text-align: center;
	background-color: #fff;
	box-shadow: 3px 3px 20px #000;
	moz-box-shadow: 3px 3px 20px #000;
	-webkit-box-shadow: 3px 3px 20px #000;
	border-radius: 10px 10px 10px 10px;
	font-family: sans-serif;
	font-size: x-large;
}

#scoreCard {
	-webkit-animation: fadeIn 1s;
	color: #000;
	font-size: x-large;
	font-weight: 700;
}

@
-webkit-keyframes fadeIn {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
#startBtnCanvas {
	background-color: #edf5ce;
	position: absolute;
}

#popup {
	background-color: #fff;
	position: absolute;
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	text-align: justify;
	color: blue;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 3px;
	display: none;
	opacity: 0;
	overflow-y: auto;
}

#playPause {
	background-color: #000;
	position: absolute;
	display: none;
	opacity: 0.7;
	overflow-y: auto;
	color: #fff;
	text-align: center;
	padding-top: 210px;
	font-size: xx-large;
	font-weight: 800;
}

#restartTimer {
	background-color: transparent;
	position: absolute;
	display: none;
	overflow-y: auto;
	color: #000;
	text-align: center;
	padding-top: 210px;
	font-size: xx-large;
	font-weight: bolder;
}

#playerDetails {
	background-color: #fff;
	position: absolute;
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	text-align: center;
	color: blue;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 3px;
	display: none;
	opacity: 0;
}

#startBtn {
	background-color: #5e55e2;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	position: relative;
	padding: 10px 20px;
	padding-right: 50px;
	background-image: linear-gradient(bottom, rgb(62, 51, 46) 0%,
		rgb(101, 86, 78) 100%);
	border-radius: 5px;
	-moz-box-shadow: inset 0px 1px 0px #080542, 0px 5px 0px 0px #262177, 0px
		10px 5px #5c5c63; -webkit-box-shadow inset 0px 1px 0px #080542, 0px
	5px 0px 0px #262177, 0px 10px 5px #5c5c63;
	box-shadow: inset 0px 1px 0px #080542, 0px 5px 0px 0px #262177, 0px 10px
		5px #5c5c63;
	margin: 20% 40% 0% 42%;
}

#startBtn::before {
	background-color: #514c8e;
	background-image: url(../sprites/arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 10px;
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9px;
	border-radius: 50%;
	-moz-box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
	-webkit-box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
	box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
}

#startBtn:active {
	top: 3px;
	background-image: linear-gradient(bottom, #080542 100%, #262177 0%);
	-moz-box-shadow: inset 0px 1px 0px #080542, 0px 2px 0px 0px #262177, 0px
		5px 3px #999;
	-webkit-box-shadow: inset 0px 1px 0px #080542, 0px 2px 0px 0px #262177,
		0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #080542, 0px 2px 0px 0px #262177, 0px 5px
		3px #999;
}

#startBtn:active::before {
	top: 50%;
	margin-top: -12px;
	-moz-box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px
		3px #382e29;
	-webkit-box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px
		6px 3px #382e29;
	box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px
		#382e29;
}

*:focus {
	outline: none;
}

#next {
	background-color: #5e55e2;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	position: relative;
	padding: 10px 20px;
	padding-right: 50px;
	background-image: linear-gradient(bottom, rgb(62, 51, 46) 0%,
		rgb(101, 86, 78) 100%);
	border-radius: 5px;
	-moz-box-shadow: inset 0px 1px 0px #080542, 0px 5px 0px 0px #262177, 0px
		10px 5px #5c5c63; -webkit-box-shadow inset 0px 1px 0px #080542, 0px
	5px 0px 0px #262177, 0px 10px 5px #5c5c63;
	box-shadow: inset 0px 1px 0px #080542, 0px 5px 0px 0px #262177, 0px 10px
		5px #5c5c63;
}

#next::before {
	background-color: #514c8e;
	background-image: url(../sprites/arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 10px;
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9px;
	border-radius: 50%;
	-moz-box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
	-webkit-box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
	box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
}

#next:active {
	top: 3px;
	background-image: linear-gradient(bottom, #080542 100%, #262177 0%);
	-moz-box-shadow: inset 0px 1px 0px #080542, 0px 2px 0px 0px #262177, 0px
		5px 3px #999;
	-webkit-box-shadow: inset 0px 1px 0px #080542, 0px 2px 0px 0px #262177,
		0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #080542, 0px 2px 0px 0px #262177, 0px 5px
		3px #999;
}

#next:active::before {
	top: 50%;
	margin-top: -12px;
	-moz-box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px
		3px #382e29;
	-webkit-box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px
		6px 3px #382e29;
	box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px
		#382e29;
}

#submit {
	background-color: #5e55e2;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
	position: relative;
	padding: 10px 20px;
	padding-right: 50px;
	background-image: linear-gradient(bottom, rgb(62, 51, 46) 0%,
		rgb(101, 86, 78) 100%);
	border-radius: 5px;
	-moz-box-shadow: inset 0px 1px 0px #080542, 0px 5px 0px 0px #262177, 0px
		10px 5px #5c5c63; -webkit-box-shadow inset 0px 1px 0px #080542, 0px
	5px 0px 0px #262177, 0px 10px 5px #5c5c63;
	box-shadow: inset 0px 1px 0px #080542, 0px 5px 0px 0px #262177, 0px 10px
		5px #5c5c63;
}

#submit::before {
	background-color: #514c8e;
	background-image: url(../sprites/arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 10px;
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -9px;
	border-radius: 50%;
	-moz-box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
	-webkit-box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
	box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
}

#submit:active {
	top: 3px;
	background-image: linear-gradient(bottom, #080542 100%, #262177 0%);
	-moz-box-shadow: inset 0px 1px 0px #080542, 0px 2px 0px 0px #262177, 0px
		5px 3px #999;
	-webkit-box-shadow: inset 0px 1px 0px #080542, 0px 2px 0px 0px #262177,
		0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #080542, 0px 2px 0px 0px #262177, 0px 5px
		3px #999;
}

#submit:active::before {
	top: 50%;
	margin-top: -12px;
	-moz-box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px
		3px #382e29;
	-webkit-box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px
		6px 3px #382e29;
	box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px
		#382e29;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #eaeaea;
	border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
	background-color: #18a6f9;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #2378ab;
}

.inputPlayerDetails {
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #18a6f9;
	width: 500px;
}

#displayScoreList {
	display: inline-block;
	width: 98%;
	border: 1px solid #18a6f9;
	margin: 1px;
}

.playerScoreCard {
	display: inline-block;
	background-color: #fff;
	width: 100%;
}

.playerScoreCardUser {
	display: inline-block;
	background-color: #0ff595;
	width: 100%;
}

#scoreBoardContainer {
	width: 25%;
	float: left;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: inset 0 0 10px #000000;
	background-color: #104e82;
}

.playerStatus {
	width: 19%;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.playerStatus1 {
	width: 60%;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

#container {
	margin: 0 auto;
	max-width: 1366px;
 	min-height: 633px; 
 	max-height: 633px; 
	z-index: 999;
/* 	display: inline-block; */
}

.playerStatus2 {
	width: 19%;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.playerStatueScore {
	float: right;
	text-align: center;
	font-size: large;
	color: #000;
	background-color: yellow;
}

button {
	cursor: pointer;
}

label {
	cursor: pointer;
}

#displayLoginCredentials {
	display: none;
}

#wrapper {
	width: 100%;
	display: inline-block;
	height: 633px;
}

#footer {
	text-align: center;
	color: #fff;
	background-color: #000;
	max-width: 1366px;
	margin: 0 auto;
}

#loader {
	text-align: center;
	margin-top: 10px;
	font-family: san-serif;
}

img {
	border: none;
}

#loading {
	color: #fff;
}

#restart {
	background-color: #000;
	position: absolute;
	display: none;
	opacity: 0.7;
	overflow-y: auto;
	color: #fff;
	text-align: center;
	padding-top: 210px;
	font-size: xx-large;
	font-weight: 800;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 8.45px 0;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
	background: #4478d7;
	border-radius: 4.4px;
	border: 0.1px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 2.3px 2.3px 7.8px #170000, 0px 0px 2.3px #310000;
	border: 1.9px solid #292596;
	height: 22px;
	width: 21px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8.55px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #8bace6;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
	background: #4478d7;
	border-radius: 4.4px;
	border: 0.1px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 2.3px 2.3px 7.8px #170000, 0px 0px 2.3px #310000;
	border: 1.9px solid #292596;
	height: 22px;
	width: 21px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #2350a2;
	border: 0.1px solid #010101;
	border-radius: 8.8px;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
}

input[type=range]::-ms-fill-upper {
	background: #4478d7;
	border: 0.1px solid #010101;
	border-radius: 8.8px;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
}

input[type=range]::-ms-thumb {
	box-shadow: 2.3px 2.3px 7.8px #170000, 0px 0px 2.3px #310000;
	border: 1.9px solid #292596;
	height: 22px;
	width: 21px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	height: 5.1px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #4478d7;
}

input[type=range]:focus::-ms-fill-upper {
	background: #8bace6;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 8.45px 0;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
	background: #4478d7;
	border-radius: 4.4px;
	border: 0.1px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 2.3px 2.3px 7.8px #170000, 0px 0px 2.3px #310000;
	border: 1.9px solid #292596;
	height: 22px;
	width: 21px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8.55px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #8bace6;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
	background: #4478d7;
	border-radius: 4.4px;
	border: 0.1px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 2.3px 2.3px 7.8px #170000, 0px 0px 2.3px #310000;
	border: 1.9px solid #292596;
	height: 22px;
	width: 21px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #2350a2;
	border: 0.1px solid #010101;
	border-radius: 8.8px;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
}

input[type=range]::-ms-fill-upper {
	background: #4478d7;
	border: 0.1px solid #010101;
	border-radius: 8.8px;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
}

input[type=range]::-ms-thumb {
	box-shadow: 2.3px 2.3px 7.8px #170000, 0px 0px 2.3px #310000;
	border: 1.9px solid #292596;
	height: 22px;
	width: 21px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	height: 5.1px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #4478d7;
}

input[type=range]:focus::-ms-fill-upper {
	background: #8bace6;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 8.45px 0;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
	background: #4478d7;
	border-radius: 4.4px;
	border: 0.1px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 2.3px 2.3px 7.8px #170000, 0px 0px 2.3px #310000;
	border: 1.9px solid #292596;
	height: 22px;
	width: 21px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8.55px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #8bace6;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
	background: #4478d7;
	border-radius: 4.4px;
	border: 0.1px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 2.3px 2.3px 7.8px #170000, 0px 0px 2.3px #310000;
	border: 1.9px solid #292596;
	height: 22px;
	width: 21px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 5.1px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #2350a2;
	border: 0.1px solid #010101;
	border-radius: 8.8px;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
}

input[type=range]::-ms-fill-upper {
	background: #4478d7;
	border: 0.1px solid #010101;
	border-radius: 8.8px;
	box-shadow: 1.7px 1.7px 5.8px #040100, 0px 0px 1.7px #1e0700;
}

input[type=range]::-ms-thumb {
	box-shadow: 2.3px 2.3px 7.8px #170000, 0px 0px 2.3px #310000;
	border: 1.9px solid #292596;
	height: 22px;
	width: 21px;
	border-radius: 50px;
	background: #ffffff;
	cursor: pointer;
	height: 5.1px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #4478d7;
}

input[type=range]:focus::-ms-fill-upper {
	background: #8bace6;
}